In [2]:
import requests
import pandas as pd
from unidecode import unidecode

In [3]:
requisicao = requests.get('https://sistemas.maua.sp.gov.br/Portaldatransparencia/API/Servidores/10/2022')

servidores = requisicao.json()
df = pd.DataFrame(servidores)

In [4]:
df.describe()

,cadastro,nome,secretaria,proventos,liquido,situacao,vinculo,cargo,localabonocovid,abonocovid,horaextracovid
count,7063,7063,7063,7063,7063,7063,7063,7063,7063,7063,7063
unique,7063,6981,27,4323,6295,4,18,269,2,17,72
top,41146,ANA PAULA DE SOUZA,Secretaria de Educação,3911.53,2069.28,Ativo,ESTAT EFETIVO,PEB I,N,0,0
freq,1,3,3035,169,79,6923,4958,1273,5508,5541,6977

In [5]:
df.dtypes

cadastro           object
nome               object
secretaria         object
proventos          object
liquido            object
situacao           object
vinculo            object
cargo              object
localabonocovid    object
abonocovid         object
horaextracovid     object
dtype: object

In [6]:
df['liquido'] = df['liquido'].astype(float)
df['proventos'] = df['proventos'].astype(float)
df['cadastro'] = df['cadastro'].astype(int)
df['abonocovid'] = df['abonocovid'].astype(int)
df['horaextracovid'] = df['horaextracovid'].astype(float)

In [7]:
df.dtypes

cadastro             int32
nome                object
secretaria          object
proventos          float64
liquido            float64
situacao            object
vinculo             object
cargo               object
localabonocovid     object
abonocovid           int32
horaextracovid     float64
dtype: object

In [8]:
prefeito = df['cargo']=='PREFEITO'

In [9]:
df[prefeito]

,cadastro,nome,secretaria,proventos,liquido,situacao,vinculo,cargo,localabonocovid,abonocovid,horaextracovid
4107,38797,MARCELO OLIVEIRA,Gabinete do Prefeito,18576.09,13736.45,Ativo,CARGO ELETIVO (PREF),PREFEITO,N,0,0.0

In [10]:
proventoTeto = df[prefeito]['proventos']
liquidoTeto = df[prefeito]['liquido']
liquidoTeto

4107    13736.45
Name: liquido, dtype: float64

In [11]:
proventoTeto

4107    18576.09
Name: proventos, dtype: float64

In [12]:
liquidoTeto

4107    13736.45
Name: liquido, dtype: float64

In [13]:
filtroProventos = df['proventos'] > float(proventoTeto)
filtroLiquidos = df['liquido'] > float(liquidoTeto)

In [14]:
df[filtroProventos].head()

,cadastro,nome,secretaria,proventos,liquido,situacao,vinculo,cargo,localabonocovid,abonocovid,horaextracovid
281,22727,ALEXANDRE SILVA,Secretaria de Finanças,21034.27,16201.98,Ativo,ESTAT EFETIVO,AUD.FISC.TRIB. MUNICIPAIS II,N,0,0.0
553,21246,ANDRE DE ARIMATEIA DE SOUZA LINO,Secretaria de Saúde,20185.34,13840.72,Ativo,ESTAT EFETIVO,MEDICO-CIRURGIAO GERAL 40H,S,300,0.0
572,18409,ANDREA CHAVES FERREIRA SANTO AZZOLINI,Secretaria de Saúde,19519.73,13788.59,Ativo,ESTAT EFETIVO,MEDICO-GINECOLOGISTA 40H,S,300,0.0
740,2943,ANTONIO MARIA CLARET SANT ANA,Secretaria do Verde e do Meio Ambiente,18663.70,13169.45,Ativo,CLT Ñ ESTAVEL,ENGENHEIRO AGRONOMO,N,0,0.0
1007,17875,CARLOS ALBERTO GALVAO,Secretaria de Saúde,23395.59,17612.31,Ativo,ESTAT EFETIVO,MEDICO-GENERALISTA 40H,S,300,0.0

In [15]:
df[filtroLiquidos].head()

,cadastro,nome,secretaria,proventos,liquido,situacao,vinculo,cargo,localabonocovid,abonocovid,horaextracovid
281,22727,ALEXANDRE SILVA,Secretaria de Finanças,21034.27,16201.98,Ativo,ESTAT EFETIVO,AUD.FISC.TRIB. MUNICIPAIS II,N,0,0.0
553,21246,ANDRE DE ARIMATEIA DE SOUZA LINO,Secretaria de Saúde,20185.34,13840.72,Ativo,ESTAT EFETIVO,MEDICO-CIRURGIAO GERAL 40H,S,300,0.0
572,18409,ANDREA CHAVES FERREIRA SANTO AZZOLINI,Secretaria de Saúde,19519.73,13788.59,Ativo,ESTAT EFETIVO,MEDICO-GINECOLOGISTA 40H,S,300,0.0
1007,17875,CARLOS ALBERTO GALVAO,Secretaria de Saúde,23395.59,17612.31,Ativo,ESTAT EFETIVO,MEDICO-GENERALISTA 40H,S,300,0.0
1175,38813,CICERO DOS SANTOS OLIVEIRA,Secretaria de Segurança Pública e Defesa Civil,27668.33,18233.59,Ativo,ESTAT COMISS,COMANDANTE DA GCM (EFETIVO),N,0,0.0

In [16]:
servidoresIrregularA105 = df[filtroLiquidos]

In [17]:
servidoresIrregularA105.count()

cadastro           30
nome               30
secretaria         30
proventos          30
liquido            30
situacao           30
vinculo            30
cargo              30
localabonocovid    30
abonocovid         30
horaextracovid     30
dtype: int64

In [18]:
servidoresIrregularA105.describe()

           cadastro     proventos       liquido  abonocovid  horaextracovid
count     30.000000     30.000000     30.000000    30.00000            30.0
mean   23134.033333  21590.124333  15815.949000   100.00000             0.0
std     9823.534154   3975.318952   3012.216014   143.83899             0.0
min     2118.000000  16697.370000  13746.660000     0.00000             0.0
25%    17946.000000  19231.437500  13895.182500     0.00000             0.0
50%    20773.000000  20468.680000  14381.755000     0.00000             0.0
75%    31186.750000  23182.235000  16732.470000   300.00000             0.0
max    40441.000000  34968.160000  27813.290000   300.00000             0.0

In [19]:
servidoresIrregularA105[servidoresIrregularA105['liquido'] == 27813.29]

,cadastro,nome,secretaria,proventos,liquido,situacao,vinculo,cargo,localabonocovid,abonocovid,horaextracovid
2967,23230,IVAN VENDRAME,Procuradoria-Geral do Município,34968.16,27813.29,Ativo,ESTAT EFETIVO,PROCURADOR,N,0,0.0

In [20]:
semRepedidos = df['nome'].drop_duplicates().count()
todos = df['nome'].count()
todos - semRepedidos

82